.main{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #F1F0E8;
    font-size: 15px;

    .head{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        h1{
            margin: 0;
        }
        p{
            margin: 2px;
        }
    }

    .nav{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding: 20px;
        margin: 0px 130px;
        border: none;

        button{
            border-radius: 25px;
            padding: 8px 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 7px;
            background-color: #E4F1FF;
            border: none;
            cursor: pointer;

            &:active{
                background-color: blue;
                color: white;
            }
        }


        .viewBtn{
            margin-left: auto;
            border: solid blue;
            color: blue;
        }
    }

    .page{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.rows{
    display: flex;
    flex-direction: column;
    
    
}


.cardsInRow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card{
    width: 400px;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    object-fit: cover;
    border: 1px solid wheat;




    .image-container{
        position: relative;

        img{
            border-radius: 20px;
            object-fit: cover;
            width: 370px;
            cursor: pointer;
            
        }

        .overlay-text {
            position: absolute;
            bottom: 80%; 
            left: 5%; 
            text-align: center;
            width: 25%;
            height: 13%;
            background-color: white; 
            color: blue; 
            border-radius: 20px;
            padding:  2px 15px;

            
            
            h5{
                font-size: 15px;
                margin-top: 6px;
            }
    }

    .heart-icon{
        position: absolute;
        bottom: 80%; 
        left: 87%; 
        display: flex;
        align-items: center;
        width: 9%;
        height: 13%;
        background-color: white; 
        color: blue; 
        border-radius: 30px;

        .heartIcon{
            margin-left: 9px;
        }
    }

    .heart-icon{
        bottom: 80%;
        right: 100%;
    }
}


    .card-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;

        .icon {
            margin: 4px; 
          }
      }

      .princeAndReadMore{
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
        
        h5{
            color: blue;
            margin-top: auto;
        }

        button{
            padding: 6px 20px;
            margin-left: auto;
            border-radius: 25px;
            cursor: pointer;
            color: blue;
        }
      }
}

.showMoreBtn{
    display: flex;
    justify-content: center;
    text-align: center;
    

    button{
        display: flex;
        align-items: center;

        background-color: blue;
        color: white;
        border: none;
        padding: 7px 15px ;
        border-radius: 20px;
        cursor: pointer;

        button.active{
            background-color: blue;
        }

        .showMoreBtnIcon{
            margin-right: 5px;
        }
    }

    
}